:host {
  @apply grid grid-cols-[repeat(9,_1fr)] text-gray-800;
}

.cell {
  @apply bg-white dark:bg-zinc-800 relative cursor-pointer border border-gray-300 dark:border-zinc-700 text-gray-600 dark:text-zinc-400;

  &.top {
    @apply border-t-gray-400 dark:border-t-zinc-600;
  }

  &.bottom {
    @apply border-b-gray-400 dark:border-b-zinc-600;
  }

  &.left {
    @apply border-l-gray-400 dark:border-l-zinc-600;
  }

  &.right {
    @apply border-r-gray-400 dark:border-r-zinc-600;
  }

  &.highlight {
    @apply bg-gray-100 dark:bg-zinc-900;
  }

  &.highlight-same {
    @apply bg-gray-200 dark:bg-zinc-950;
  }

  &.highlight-wrong {
    @apply text-red-600 dark:text-red-100 dark:border-red-700 dark:bg-red-900;
  }

  &.active {
    @apply dark:border-2;

    &.active:not(.highlight-wrong) {
      @apply bg-blue-200 border-blue-300 dark:bg-blue-900 dark:border-blue-700;
    }
  }

  .value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }
}
