<button class="h-12 rounded-md border border-gray-300 disabled:border-gray-100 bg-gray-50 text-gray-600 p-3" (click)="onNewGameClick('easy')">
  easy</button
><br />
<button class="h-12 rounded-md border border-gray-300 disabled:border-gray-100 bg-gray-50 text-gray-600 p-3" (click)="onNewGameClick('medium')">
  medium</button
><br />
<button class="h-12 rounded-md border border-gray-300 disabled:border-gray-100 bg-gray-50 text-gray-600 p-3" (click)="onNewGameClick('hard')">
  hard</button
><br />
<button class="h-12 rounded-md border border-gray-300 disabled:border-gray-100 bg-gray-50 text-gray-600 p-3" (click)="onNewGameClick('expert')">
  expert</button
><br />
