<button class="h-12 rounded-md focus:outline-none text-gray-600 bg-red-600 border border-gray-200 p-3" (click)="onNewGameClick('easy')">easy</button>
<button class="h-12 rounded-md focus:outline-none text-gray-600 bg-red-600 border border-gray-200 p-3" (click)="onNewGameClick('medium')">
  medium
</button>
<button class="h-12 rounded-md focus:outline-none text-gray-600 bg-red-600 border border-gray-200 p-3" (click)="onNewGameClick('hard')">hard</button>
<button class="h-12 rounded-md focus:outline-none text-gray-600 bg-red-600 border border-gray-200 p-3" (click)="onNewGameClick('expert')">
  expert
</button>
