@if (usedNumbers$ | async; as usedNumbers) {
  <div class="grid gap-4 select-none grid-cols-5 items-stretch">
    @for (val of inputValues; track val; let i = $index) {
      <button
        class="h-12 rounded-md dark:text-zinc-400 contr-border"
        (click)="onInputClick(val)"
        [disabled]="usedNumbers[i] === 9"
        >
        <span>{{ val }}</span>
      </button>
    }
    <button class="h-12 rounded-md contr-red-border" (click)="onClearClick()">
      <span class="material-icons text-s mt-1"> delete </span>
    </button>
  </div>
}
