<div *ngIf="usedNumbers$ | async as usedNumbers" class="grid gap-4 select-none grid-cols-5 items-stretch">
  <button
    class="button disabled:text-gray-200 bg-gray-50 text-gray-600"
    *ngFor="let val of inputValues; let i = index"
    (click)="onInputClick(val)"
    [disabled]="usedNumbers[i] === 9"
  >
    <span>{{ val }}</span>
  </button>
  <button class="button border border-red-300 bg-red-50" (click)="onClearClick()">
    <span class="material-icons text-s text-red-400 mt-1"> delete </span>
  </button>
</div>
