:host {
  @apply grid grid-cols-[repeat(9,_1fr)] text-gray-800;
}

.cell {
  @apply bg-white relative cursor-pointer border;

  &.highlight {
    @apply bg-gray-100;
  }

  &.highlight-same {
    @apply bg-gray-200;
  }

  &.highlight-wrong {
    @apply text-red-600;
  }

  &.active {
    @apply bg-blue-200 border-blue-300;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }

  &.top {
    @apply border border-t-gray-300;
  }

  &.bottom {
    @apply border border-b-gray-300;
  }

  &.left {
    @apply border border-l-gray-300;
  }

  &.right {
    @apply border border-r-gray-300;
  }

  .value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
