:host {
  @apply bg-gray-300 border border-gray-300 grid grid-cols-[repeat(9,_1fr)] gap-px text-gray-800;
}

.cell {
  @apply bg-white relative cursor-pointer;

  &.highlight-row {
    @apply bg-gray-100;
  }

  &.highlight-col {
    @apply bg-gray-100;
  }

  &.highlight-block {
    @apply bg-gray-100;
  }

  &.highlight-same {
    @apply bg-gray-300;
  }

  &.highlight-wrong {
    @apply text-red-600;
  }

  &.active {
    @apply bg-green-400;
    // background: $active-color;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }

  &.top {
    @apply border border-t-gray-400;
    // border-top: 1px solid $border-color;
  }

  &.bottom {
    @apply border border-b-gray-400;
    // border-bottom: 1px solid $border-color;
  }

  &.left {
    @apply border border-l-gray-400;
    // border-left: 1px solid $border-color;
  }

  &.right {
    @apply border border-r-gray-400;
    // border-right: 1px solid $border-color;
  }

  .value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
