<ng-container *ngIf="gameData$ | async as gameData">
  <ng-container *ngFor="let row of gameData.board; index as rowIndex">
    <div
      class="cell"
      *ngFor="let field of row; index as colIndex"
      [class.top]="rowIndex % 3 === 0"
      [class.bottom]="rowIndex % 3 === 2"
      [class.left]="colIndex % 3 === 0"
      [class.right]="colIndex % 3 === 2"
      [class.readonly]="field.readonly"
      [class.highlight-row]="rowIndex === gameData.activeFieldCell?.row"
      [class.highlight-col]="colIndex === gameData.activeFieldCell?.col"
      [class.highlight-same]="gameData.activeFieldCell?.value && gameData.activeFieldCell?.value === field?.value"
      [class.active]="gameData.activeFieldCell?.col === colIndex && gameData.activeFieldCell?.row === rowIndex"
      (click)="onFieldClick({row: rowIndex, col: colIndex})"
    >
      <div class="value">{{ field.value }}</div>
    </div>
  </ng-container>
</ng-container>
