<div class="m-7">
  <div class="my-4 flex justify-between">
    <div *ngIf="gameDifficulty$ | async as gameDifficulty">
      <span class="capitalize text-gray-600 text-2xl">{{ gameDifficulty }}</span>
    </div>
    <div *ngIf="mistakes$ | async as mistakes" class="flex items-end">
      <span class="mr-2 text-gray-600 uppercase text-xs">mistakes:</span>
      <span class="text-red-500 text-xs">{{ mistakes.value }}/{{ maxMistakes }}</span>
    </div>
  </div>
  <div class="my-4 mb-7"><app-board></app-board></div>
  <div class="my-4"><app-input></app-input></div>
</div>
